<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ql.shopping.dao.manifest.ManifestExpendMapper" >
  <resultMap id="BaseMap" type="org.ql.shopping.pojo.manifest.ManifestExpend" >
    <id column="expend_id" property="expendId" jdbcType="INTEGER" />
    <result column="doc_no" property="docNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="expend_qty" property="expendQty" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="after_qty" property="afterQty" jdbcType="DECIMAL" />
    <result column="before_qty" property="beforeQty" jdbcType="DECIMAL" />
    <result column="lottery_type_id" property="lotteryTypeId" jdbcType="INTEGER" />
     <result column="lottery_id" property="lotteryId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="base_column_list" >
    expend_id, doc_no, create_time, expend_qty, status, user_id, end_time, after_qty, 
    before_qty, lottery_type_id,lottery_id
  </sql>
  <select id="selectByPrimaryKeya" resultMap="BaseMap" parameterType="java.lang.Integer" >
    select 
    <include refid="base_column_list" />
    from manifest_expend
    where expend_id = #{expendId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKeya" parameterType="java.lang.Integer" >
    delete from manifest_expend
    where expend_id = #{expendId,jdbcType=INTEGER}
  </delete>
  <insert id="inserta" parameterType="org.ql.shopping.pojo.manifest.ManifestExpend" >
    insert into manifest_expend (expend_id, doc_no, create_time, 
      expend_qty, status, user_id, 
      end_time, after_qty, before_qty, 
      lottery_type_id)
    values (#{expendId,jdbcType=INTEGER}, #{docNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{expendQty,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{endTime,jdbcType=TIMESTAMP}, #{afterQty,jdbcType=DECIMAL}, #{beforeQty,jdbcType=DECIMAL}, 
      #{lotteryTypeId,jdbcType=INTEGER},#{lotteryId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelectivea" parameterType="org.ql.shopping.pojo.manifest.ManifestExpend" >
    insert into manifest_expend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="expendId != null" >
        expend_id,
      </if>
      <if test="docNo != null" >
        doc_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="expendQty != null" >
        expend_qty,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="afterQty != null" >
        after_qty,
      </if>
      <if test="beforeQty != null" >
        before_qty,
      </if>
      <if test="lotteryTypeId != null" >
        lottery_type_id,
      </if>
      <if test="lotteryId != null" >
        lottery_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="expendId != null" >
        #{expendId,jdbcType=INTEGER},
      </if>
      <if test="docNo != null" >
        #{docNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expendQty != null" >
        #{expendQty,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="afterQty != null" >
        #{afterQty,jdbcType=DECIMAL},
      </if>
      <if test="beforeQty != null" >
        #{beforeQty,jdbcType=DECIMAL},
      </if>
      <if test="lotteryTypeId != null" >
        #{lotteryTypeId,jdbcType=INTEGER},
      </if>
      <if test="lotteryId != null" >
        #{lotteryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelectivea" parameterType="org.ql.shopping.pojo.manifest.ManifestExpend" >
    update manifest_expend
    <set >
      <if test="docNo != null" >
        doc_no = #{docNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expendQty != null" >
        expend_qty = #{expendQty,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="afterQty != null" >
        after_qty = #{afterQty,jdbcType=DECIMAL},
      </if>
      <if test="beforeQty != null" >
        before_qty = #{beforeQty,jdbcType=DECIMAL},
      </if>
      <if test="lotteryTypeId != null" >
        lottery_type_id = #{lotteryTypeId,jdbcType=INTEGER},
      </if>
    </set>
    where expend_id = #{expendId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeya" parameterType="org.ql.shopping.pojo.manifest.ManifestExpend" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update manifest_expend
    set doc_no = #{docNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      expend_qty = #{expendQty,jdbcType=DECIMAL},
      status = #{status,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      after_qty = #{afterQty,jdbcType=DECIMAL},
      before_qty = #{beforeQty,jdbcType=DECIMAL},
      lottery_type_id = #{lotteryTypeId,jdbcType=INTEGER}
    where expend_id = #{expendId,jdbcType=INTEGER}
  </update>
</mapper>