<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ql.shopping.dao.manifest.ManifestLBiChangeMapper" >
  <resultMap id="BaseResultMap" type="org.ql.shopping.pojo.manifest.ManifestLBiChange" >
    <id column="change_doc_id" property="changeDocId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="doc_expend_id" property="docExpendId" jdbcType="INTEGER" />
    <result column="doc_income_id" property="docIncomeId" jdbcType="INTEGER" />
    <result column="operate_date" property="operateDate" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="operate_type" property="operateType" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="org.ql.shopping.pojo.manifest.ManifestLBiChange" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    change_doc_id, type, doc_expend_id, doc_income_id, operate_date, user_id, operate_type
  </sql>
  <sql id="Blob_Column_List" >
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from manifest_l_bi_change
    where change_doc_id = #{changeDocId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from manifest_l_bi_change
    where change_doc_id = #{changeDocId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.ql.shopping.pojo.manifest.ManifestLBiChange" >
    insert into manifest_l_bi_change (change_doc_id, type, doc_expend_id, 
      doc_income_id, operate_date, user_id, 
      operate_type, remark)
    values (#{changeDocId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{docExpendId,jdbcType=INTEGER}, 
      #{docIncomeId,jdbcType=INTEGER}, #{operateDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, 
      #{operateType,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.ql.shopping.pojo.manifest.ManifestLBiChange" >
    insert into manifest_l_bi_change
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="changeDocId != null" >
        change_doc_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="docExpendId != null" >
        doc_expend_id,
      </if>
      <if test="docIncomeId != null" >
        doc_income_id,
      </if>
      <if test="operateDate != null" >
        operate_date,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="operateType != null" >
        operate_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="changeDocId != null" >
        #{changeDocId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="docExpendId != null" >
        #{docExpendId,jdbcType=INTEGER},
      </if>
      <if test="docIncomeId != null" >
        #{docIncomeId,jdbcType=INTEGER},
      </if>
      <if test="operateDate != null" >
        #{operateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="operateType != null" >
        #{operateType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ql.shopping.pojo.manifest.ManifestLBiChange" >
    update manifest_l_bi_change
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="docExpendId != null" >
        doc_expend_id = #{docExpendId,jdbcType=INTEGER},
      </if>
      <if test="docIncomeId != null" >
        doc_income_id = #{docIncomeId,jdbcType=INTEGER},
      </if>
      <if test="operateDate != null" >
        operate_date = #{operateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="operateType != null" >
        operate_type = #{operateType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where change_doc_id = #{changeDocId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.ql.shopping.pojo.manifest.ManifestLBiChange" >
    update manifest_l_bi_change
    set type = #{type,jdbcType=VARCHAR},
      doc_expend_id = #{docExpendId,jdbcType=INTEGER},
      doc_income_id = #{docIncomeId,jdbcType=INTEGER},
      operate_date = #{operateDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      operate_type = #{operateType,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where change_doc_id = #{changeDocId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ql.shopping.pojo.manifest.ManifestLBiChange" >
    update manifest_l_bi_change
    set type = #{type,jdbcType=VARCHAR},
      doc_expend_id = #{docExpendId,jdbcType=INTEGER},
      doc_income_id = #{docIncomeId,jdbcType=INTEGER},
      operate_date = #{operateDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      operate_type = #{operateType,jdbcType=VARCHAR}
    where change_doc_id = #{changeDocId,jdbcType=INTEGER}
  </update>
</mapper>