<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ql.shopping.dao.lottery.LotteryFillOpenMapper">
	<resultMap type="client.pojo.lottery.ClientLotteryFillOpenSearch"
		id="ClientResultMap" extends="BaseResultMap">
		<result column="lottery_remark" property="lotteryRemark"
			jdbcType="VARCHAR" />
		<result column="lottery_clazz_id" property="lotteryClzzId"
			jdbcType="VARCHAR" />
		<result column="lottery_name" property="lotteryName" jdbcType="VARCHAR" />
		<result column="lottery_rule" property="lotteryRule" jdbcType="VARCHAR" />
		<result column="lottery_type" property="lotteryType" jdbcType="VARCHAR" />
		<result column="buyQty" property="buyQty" jdbcType="INTEGER" />
	</resultMap>

	<resultMap id="ClientSearch" extends="BaseResultMap"
		type="client.pojo.fill.FillOpenSearch">
		<result column="overBuyQty" property="overBuyQty" jdbcType="DECIMAL" />
		<result column="totalQty" property="totalQty" jdbcType="DECIMAL" />
	</resultMap>

	

	<select id="selectClientListByClazzAndTypePage" resultMap="ClientResultMap"
		parameterType="client.pojo.lottery.ClientLotteryFillOpenSearch">
		SELECT
		fopen.lottery_fill_open_id,
		fopen.open_number,
		fopen.lottery_fill_creater_date,
		fopen.fill_l_bi,
		fopen.award_l_bi,
		type.lottery_remark,
		type.lottery_clazz_id,
		type.lottery_name,
		type.lottery_rule,
		type.lottery_type,
		Sum(fuser.lottery_fill_buy_qty) AS
		buyQty
		FROM
		lottery_fill_open AS fopen
		INNER JOIN lottery_type AS type ON
		fopen.lottery_type_id =
		type.lottery_type_id
		INNER JOIN
		lottery_fill_user AS fuser ON fopen.lottery_fill_open_id =
		fuser.lottery_fill_open_id
		LEFT JOIN lottery_clazz AS clazz ON
		clazz.lottery_clazz_id =
		type.lottery_clazz_id


		<where>
			fopen.open_number IS NULL
			AND
			type.lottery_type_id
			=
			${lotteryTypeId}
		</where>

		ORDER BY
		fopen.lottery_fill_creater_date ASC

		LIMIT
		${firstIndex},${pageSize}
	</select>
	<select id="getClientOpenFillCount" resultType="long"
		parameterType="client.pojo.lottery.ClientLotteryFillOpenSearch">
		SELECT
		count(*)
		FROM
		lottery_fill_open AS fopen
		INNER JOIN lottery_type AS
		type ON fopen.lottery_type_id =
		type.lottery_type_id
		INNER JOIN
		lottery_fill_user AS fuser ON fopen.lottery_fill_open_id =
		fuser.lottery_fill_open_id
		LEFT JOIN lottery_clazz AS clazz ON
		clazz.lottery_clazz_id =
		type.lottery_clazz_id

		<where>
			fopen.open_number IS NULL
			AND
			type.lottery_type_id =
			#{lotteryTypeId,jdbcType=INTEGER}
		</where>

	</select>
</mapper>