<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ql.shopping.dao.IUserDao">
	<resultMap id="BaseResultMap" type="org.ql.shopping.pojo.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="pw" property="pw" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, account, pw
	</sql>

	<insert id="inserte" parameterType="org.ql.shopping.pojo.User">
		insert into user_s
		(account,pw) values( #{account,jdbcType=VARCHAR},#{pw,jdbcType=VARCHAR});
	</insert>

	<select id="queryUserOfAccount" resultMap="BaseResultMap"
		parameterType="org.ql.shopping.pojo.User">
		SELECT user_s.id,
		user_s.account,
		user_s.pw
		FROM user_s
		WHERE account = #{account,jdbcType=VARCHAR}
	</select>
	<select id="findAll" resultMap="BaseResultMap"
		parameterType="org.ql.shopping.pojo.params.ListParams">
		SELECT *
		FROM user_s limit #{firstIndex}, #{footIndex};
	</select>

	<select id="queryUser" resultMap="BaseResultMap" parameterType="org.ql.shopping.pojo.User">
		SELECT user_s.id,
		user_s.account,
		user_s.pw
		FROM user_s
		WHERE account = #{account,jdbcType=VARCHAR} and pw = #{pw,jdbcType=VARCHAR}
	</select>

	<select id="queryTotalCount" resultType="int">
		SELECT count(*) FROM user_s ;
	</select>

	<update id="updateUserpw" parameterType="org.ql.shopping.pojo.User">

		update user_s
		<set>
			<if test="account != null">
				account = #{account,jdbcType=VARCHAR},
			</if>
			<if test="pw != null">
				pw = #{pw,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<delete id="deleteUserById" parameterType="long">
		DELETE FROM user_s where id = #{id}
	</delete>

</mapper>