.content-tab-body {
	padding: 0px 10px;
}

.nav-left {
	position: absolute;
	right: 0px;
}

.btn-group {
	padding: 20px 10px;
}

.layui-input {
	width: 200px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.table-top-body {
	height: 100;
}

.label-content {
	float: left;
	margin: 8px 10px;
	color: #fff9ec;
	font-size: 16px;
	padding: 10px 20px;
}

.label-content-content {
	font-size: 24px;
	margin-left: 4px;
	margin-right: 4px;
}