
.layui-form{
    height: 700px;
}
.table-body{
    margin-top: 6px;
    margin-left: 10px;
    position: fixed;
    height: 80%;
    width: 100%;
}
.index-nav{
    margin-top: 40px;
    margin-left: 10px;
    position: fixed;
    top: 80%;
}
.search-btn{
    margin-left: 10px;
    line-height: 40px;
    width: 100%;
    height: 40px;
}