.layui-body{border-left:2px solid #629d06;margin-top: 0px;border-top: 0px}
.nav-btn-group{
	margin-top: 2px;
	margin-bottom: 2px;
	width: 100%;
}
.nav-tree{
	border-top: 2px solid #629d06;
}
.nav-btn{
	margin-top: 4px;
	margin-bottom: 4px;
}