<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ql.shopping.dao.manifest.ManifestExpendMapper">
	<resultMap id="SearchResultMap" type="client.pojo.manifest.ManifestExpendSearch"
		extends="BaseResultMap">

	</resultMap>

	<select id="selectByParams" resultMap="SearchResultMap"
		parameterType="client.pojo.manifest.ManifestExpendSearch">
		mexpend.create_time , mexpend.expend_qty , mexpend.status
		mexpend.user_id , mexpend.end_time , mexpend.after_qty ,
		mexpend.before_qty , mexpend.lottery_type_id ,
		fillOpen.lottery_fill_open_id , fillOpen.open_number ,
		fillOpen.lottery_fill_creater_date , fillOpen.lottery_fill_end_date ,
		fillOpen.create_user_id , fillOpen.fill_l_bi , fillOpen.award_l_bi ,
		fillOpen.send_status , fillOpen.lottery_fill_unit_price ,
		fillOpen.lottery_type_id , fillOpen.lottery_fill_name ,
		fillOpen.lottery_stage FROM manifest_expend AS mexpend JOIN
		lottery_fill_open AS fillOpen ON
		mexpend.lottery_type_id=fillOpen.lottery_type_id

		<where>
			<include refid="SearchWhereAnd"></include>
		</where>
		ORDER BY mexpend.create_time ASC

	</select>

	<sql id="SearchWhereAnd">
		<trim prefixOverrides="AND">
			<if test="expendId != null">
				AND
				mexpend.expend_id =#{expendId,jdbcType=INTEGER}
			</if>
			<if test="docNo !=null">
				AND
				mexpend.doc_no = #{docNo,jdbcType=VARCHAR}
			</if>
			<if test="createTime !=null">
				AND
				mexpend.create_time = #{createTime
				,jdbcType=TIMESTAMP}
			</if>
			<if test="status !=null">
				AND
				mexpend.`status` =#{status , jdbcType=VARCHAR}
			</if>
			<if test="userId !=null">
				AND
				mexpend.user_id = #{userId,jdbcType=INTEGER}
			</if>
			<if test="lotteryTypeId !=null">
				AND
				mexpend.lottery_type_id =
				#{lotteryTypeId,jdbcType=INTEGER}
			</if>
		</trim>
	</sql>
</mapper>