<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ql.shopping.dao.lottery.LotteryFillUserMapper">
	<resultMap type="org.ql.shopping.pojo.lottery.FillUserDetails"
		id="FillUSerDetailsMap" extends="BaseResultMap">
		<result column="zhifubao" property="zhifubao" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="client_id" property="clientId" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="l_bi" property="lBi" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="doc_no" property="docNo" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="after_qty" property="afterQty" jdbcType="VARCHAR" />
		<result column="after_qty" property="beforeQty" jdbcType="VARCHAR" />
		<result column="after_qty" property="expendQty" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 通过开奖id查询中奖用户 -->
	<select id="selectAwardUserByOpenId" resultMap="FillUSerDetailsMap"
		parameterType="java.lang.Integer">
		SELECT
		user_login.account,
		user_client.zhifubao,
		user_client.`name`,
		user_client.client_id,
		user_client.phone,
		user_client.l_bi,
		lottery_fill_user.user_id,
		lottery_fill_user.lottery_type_id,
		lottery_fill_user.lottery_fill_user_id,
		lottery_fill_user.lottery_fill_open_id,
		lottery_fill_user.number,
		lottery_fill_user.lottery_fill_buy_qty,
		lottery_fill_user.lottery_fill_status
		FROM
		lottery_fill_open
		INNER JOIN
		lottery_fill_user ON lottery_fill_user.lottery_fill_open_id =
		lottery_fill_open.lottery_fill_open_id AND
		lottery_fill_open.award_user_id =
		lottery_fill_user.lottery_fill_user_id
		INNER JOIN user_client ON
		user_client.user_id = lottery_fill_user.user_id
		INNER JOIN user_login
		ON user_login.id = lottery_fill_user.user_id

		WHERE
		lottery_fill_open.`status` = '1'
		AND
		lottery_fill_user.lottery_fill_status = '1'
		AND
		lottery_fill_open.lottery_fill_open_id =
		#{openId,jdbcType=VARCHAR}
	</select>

	<select id="selectByParams" resultMap="BaseResultMap"
		parameterType="org.ql.shopping.pojo.lottery.LotteryFillUser">
		SELECT lottery_fill_user.lottery_fill_user_id,
		lottery_fill_user.lottery_type_id,
		lottery_fill_user.user_id,
		lottery_fill_user.lottery_fill_open_id,
		lottery_fill_user.number,
		lottery_fill_user.lottery_filld_buy_qty,
		lottery_fill_user.lottery_fill_status
		FROM lottery_fill_user
		<include refid="WHERE_AND"></include>
		<if test="firstIndex != null and pageSize != null">
			LIMIT #{firstIndex} ,#{pageSize}
		</if>

	</select>

	<!-- 通过开奖id 查询已经购买的用户 -->
	<select id="selectBuyUserListByOpenId" resultMap="FillUSerDetailsMap"
		parameterType="java.lang.Integer">
		SELECT clientp.zhifubao,
		clientp.`name`,
		clientp.client_id,
		clientp.phone,
		clientp.user_id,
		clientp.l_bi,
		userp.account,
		fuser.*,
		expend.end_time,
		expend.create_time,
		expend.doc_no,
		expend.expend_qty,
		expend.after_qty,
		expend.before_qty
		FROM lottery_fill_open fopen

		INNER JOIN
		lottery_fill_user fuser ON
		fopen.lottery_fill_open_id =
		fuser.lottery_fill_open_id
		AND
		fuser.lottery_fill_status = '1'
		INNER
		JOIN
		user_client clientp ON
		fuser.user_id = clientp.user_id
		INNER JOIN
		user_login userp ON
		fuser.user_id = userp.id
		INNER JOIN
		manifest_expend expend ON
		expend.lottery_id =
		fuser.lottery_fill_user_id AND
		fopen.lottery_type_id =
		expend.lottery_type_id
		WHERE
		fopen.lottery_fill_open_id = #{openId}
	</select>

	<select id="selectCountByParams" resultType="java.lang.Integer"
		parameterType="org.ql.shopping.pojo.lottery.LotteryFillUser">
		SELECT count(*) FROM lottery_fill_user
		<include refid="WHERE_AND"></include>
	</select>

	<select id="getByLBiByOpenId" resultType="java.lang.Integer"
		parameterType="java.lang.Integer">
		SELECT SUM(lottery_fill_buy_qty)
		FROM lottery_fill_user
		WHERE lottery_type_id = #{typeId}
	</select>

	<sql id="WHERE_AND">
		<where>
			<trim prefixOverrides="AND">
				<if test="lotteryFillUserId != null">
					AND lottery_fill_user_id =
					#{lotteryFillUserId,jdbcType=INTEGER}
				</if>
				<if test="lotteryTypeId != null">
					AND lottery_type_id = #{lotteryTypeId,jdbcType=INTEGER}
				</if>
				<if test="userId != null">
					AND user_id = #{userId,jdbcType=INTEGER}
				</if>
				<if test="lotteryFillOpenId != null">
					AND lottery_fill_open_id =
					#{lotteryFillOpenId,jdbcType=INTEGER}
				</if>
				<if test="lotteryFillBuyQty != null">
					AND lottery_fill_buy_qty =
					#{lotteryFillBuyQty,jdbcType=INTEGER}
				</if>
				<if test="number != null">
					AND number = #{number,jdbcType=VARCHAR}
				</if>
				<if test="lotteryFillStatus != null">
					AND lottery_fill_status =
					#{lotteryFillStatus,jdbcType=VARCHAR}
				</if>
			</trim>
		</where>
	</sql>
</mapper>