<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ql.shopping.dao.lottery.LotteryFillOpenMapper">
	<resultMap type="org.ql.shopping.pojo.lottery.LotteryFillOpenSearch"
		id="SearchResultMap" extends="BaseResultMap">
		<result column="account" property="createUserName" jdbcType="VARCHAR" />
		<result column="buyQty" property="overBuyQty" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectByParams" resultMap="BaseResultMap"
		parameterType="org.ql.shopping.pojo.lottery.LotteryFillOpen">
		SELECT fill.lottery_fill_open_id,
		fill.open_number,
		fill.lottery_fill_creater_date,
		fill.lottery_fill_end_date,
		fill.create_user_id,
		fill.fill_l_bi,
		fill.award_l_bi,
		fill.send_status,
		fill.lottery_fill_unit_price,
		fill.lottery_type_id,
		fill.lottery_fill_name,
		fill.lottery_stage,
		fill.status,
		fill.award_user_id,
		fill.award_manifest_id
		FROM lottery_fill_open fill
		<where>
			<include refid="WHERE_FILL_AND"></include>
		</where>
	</select>


	<select id="selectSearchByParams" resultMap="SearchResultMap"
		parameterType="org.ql.shopping.pojo.lottery.LotteryFillOpenSearch">
		SELECT
		a.lottery_fill_open_id,
		a.open_number,
		a.lottery_fill_creater_date,
		a.lottery_fill_end_date,
		a.create_user_id,
		a.fill_l_bi,
		a.award_l_bi,
		a.send_status,
		a.lottery_fill_unit_price,
		a.lottery_type_id,
		a.lottery_fill_name,
		a.lottery_stage,
		a.status,
		a.award_user_id,
		IFNULL(b.qty,0)
		AS buyQty,
		muser.account,
		muser.power,
		muser.`name`,
		muser.phone,
		muser.address
		FROM
		lottery_fill_open AS a
		LEFT JOIN (select
		lottery_fill_open_id, sum(lottery_fill_buy_qty) qty
		from
		lottery_fill_user 
		WHERE lottery_fill_user.lottery_fill_status = '1'
		group by lottery_fill_open_id ) AS b ON
		a.lottery_fill_open_id =
		b.lottery_fill_open_id ,
		user_manager AS muser


		<where>
			<include refid="WHERE_SEARCH_PARAMS"></include>
		</where>
		ORDER BY
		a.lottery_fill_creater_date DESC
		LIMIT
		#{firstIndex},#{pageSize}
	</select>

	<select id="getSearchCountParams" resultType="java.lang.Integer"
		parameterType="org.ql.shopping.pojo.lottery.LotteryFillOpenSearch">
		SELECT
		count(*)
		FROM
		lottery_fill_open AS a
		LEFT JOIN (select
		lottery_fill_open_id, sum(lottery_fill_buy_qty) qty
		from
		lottery_fill_user
		WHERE lottery_fill_user.lottery_fill_status = '1'
		group by lottery_fill_open_id) AS b ON
		a.lottery_fill_open_id =
		b.lottery_fill_open_id ,
		user_manager AS muser


		<where>
			<include refid="WHERE_SEARCH_PARAMS"></include>
		</where>
	</select>
	<sql id="WHERE_SEARCH_PARAMS">
		<trim prefixOverrides="AND">
			<if test="lotteryTypeId">
				AND a.lottery_type_id = #{lotteryTypeId,jdbcType=INTEGER}
			</if>
			<if test="createUserId != null">
				AND muser.id = #{createUserId,jdbcType=INTEGER}
			</if>
			<if test="createAccount != null">
				AND muser.account =
				#{createAccount,jdbcType=VARCHAR}
			</if>
			<if test="createUserName != null">
				AND muser.name =
				#{createUserName,jdbcType=VARCHAR}
			</if>
			<if test="lotteryFillOpenId != null">
				AND a.lottery_fill_open_id =
				#{lotteryFillOpenId,jdbcType=INTEGER}
			</if>
			<if test="openNumber != null">
				AND a.open_number =
				#{openNumber,jdbcType=VARCHAR}
			</if>
			<if test="createUserId != null">
				AND a.create_user_id =
				#{createUserId,jdbcType=INTEGER}
			</if>
			<if test="sendStatus != null">
				AND a.send_status =
				#{sendStatus,jdbcType=VARCHAR}
			</if>
			<if test="lotteryFillName != null">
				AND a.lottery_fill_name =
				#{lotteryFillName,jdbcType=VARCHAR}
			</if>
			<if test="lotteryStage != null">
				AND a.lottery_stage =
				#{lotteryStage,jdbcType=VARCHAR}
			</if>
			<if test="openNumber != null">
				AND a.open_number =
				#{openNumber,jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				AND a.stataus =
				#{status,jdbcType=VARCHAR}
			</if>
			<if test="awardUserId != null">
				AND a.award_user_id =
				#{awardUserId,jdbcType=INTEGER}
			</if>

			<if test="canSendAward != null">
				<if test="canSendAward == 1">
					AND  IFNULL(b.qty,0) = a.fill_l_bi
				</if>
				<if test="canSendAward == 0">
					AND  IFNULL(b.qty,0) &lt; a.fill_l_bi
				</if>
			</if>
		</trim>
	</sql>
	<sql id="WHERE_FILL_AND">
		<trim prefixOverrides="AND">
			<if test="lotteryFillOpenId != null ">
				AND fill.lottery_fill_open_id =
				#{lotteryFillOpenId,jdbcType=INTEGER}
			</if>
			<if test="openNumber != null ">
				AND fill.open_number = #{openNumber,jdbcType=INTEGER}
			</if>
			<if test="lotteryFillCreaterDate != null ">
				AND fill.lottery_fill_creater_date =
				#{lotteryFillCreaterDate,jdbcType=TIMESTAMP}
			</if>
			<if test="createUserId != null ">
				AND fill.create_user_id =
				#{createUserId,jdbcType=INTEGER}
			</if>
			<if test="lotteryFillEndDate != null">
				AND fill.lottery_fill_end_date =
				#{lotteryFillEndDate,jdbcType=TIMESTAMP}
			</if>
			<if test="fillLBi != null">
				AND fill.fill_l_bi = #{fillLBi,jdbcType=INTEGER}
			</if>
			<if test="awardLBi != null">
				AND fill.award_l_bi = #{awardLBi,jdbcType=INTEGER}
			</if>
			<if test="sendStatus != null ">
				AND fill.send_status = #{sendStatus,jdbcType=VARCHAR}
			</if>
			<if test="lotteryFillUnitPrice != null ">
				AND fill.lottery_fill_unit_price =
				#{lotteryFillUnitPrice,jdbcType=INTEGER}
			</if>
			<if test="lotteryTypeId != null">
				AND fill.lottery_type_id =
				#{lotteryTypeId,jdbcType=INTEGER}
			</if>
			<if test="lotteryFillName != null">
				AND fill.lottery_fill_name =
				#{lotteryFillName,jdbcType=VARCHAR}
			</if>
			<if test="lotteryStage != null">
				AND fill.lottery_stage =
				#{lotteryStage,jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				AND fill.status =
				#{status,jdbcType=VARCHAR}
			</if>
			<if test="awardUserId != null">
				AND fill.award_user_id =
				#{awardUserId,jdbcType=INTEGER}
			</if>
		</trim>

	</sql>


</mapper>